*{
margin: 0%;
padding: 0%;
}
:root{

}
.cabecalho{
      background-color: rgb(241, rgb(214, 163, 248), blue);
    padding: 50px;
}
.corpo{
    background-color: lightpink;
}
.forter{
    background-color: hotpink;
}